<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
               xmlns:aop="http://www.springframework.org/schema/aop"
               xmlns:mvc="http://www.springframework.org/schema/mvc"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
 http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
<!--图片显示-->
<!--<mvc:default-servlet-handler/>-->
<mvc:resources  location="/img/" mapping="/img/**"></mvc:resources>

<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"></bean>

  <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
      <!--         <property name="mappings">
                 <props>
                     <prop key="/hello.do">FilstController</prop>
                     <prop key="/hehe.do">FilstController</prop>
                 </props>
             </property>
     -->

      <property name="urlMap">
          <map>
              <entry key="/hello.do" value="FilstController"></entry>
              <entry key="/hehe.do" value="FilstController"></entry>
          </map>

      </property>
    </bean>



    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

<bean id="FilstController" class="cn.happy.springmvc01.FilstController"></bean>
</beans>