<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
 http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
">

<context:component-scan base-package="cn.happy.springmvc07exection"></context:component-scan>
  <!--异常处理器-->
 <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
    <property name="defaultErrorView" value="/error.jsp"></property>
    <property name="exceptionAttribute" value="ex"></property>

   <property name="exceptionMappings">
      <props>
        <prop key="cn.happy.springmvc07exection.exceptions.AgeException">Age.jsp</prop>
        <prop key="cn.happy.springmvc07exection.exceptions.NameException">Name.jsp</prop>
      </props>
    </property>
  </bean>
<!--<bean class="cn.happy.springmvc08selfexception.exceptionhandler.MyHanlderExceptionResolver"></bean>-->
</beans>